<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('admin.dashboard.title') %></h3>
  </div>
  <div class="card-body">
    <%= t('admin.dashboard.welcome_msg') %>
  </div>
</div>
